*{
	font-family:arial;
	font-size:12px;	
}
/* 
FUNCIONES COMUNES 
*/
.labelminscreen{
	display:inline-block;
	color:white;
	background:#FF9800;
	padding:2px;
	width:100px;
	max-width:100px;
}

#dlcliente{
	display:inline-block;
	width: 130px;
}
#ccustno, #crutno,#cpaycode, #cservno1{
	width:130;
}
#nprice, #ntotamt{
	color:blue;
}
.table_det,#tdetalles{	
	background-color:#dcdcdc;
	color:#000000;
	font-family:arial;
	font-size:11px;
}
#aencabezado{
	margin-left:20px;
	padding:0px;
}

#adetalles{
	height:260px;	
	width: 500px;
	overflow: auto;
	margin-left:20px;
	padding:0px;
}
.botones_row{
	width:20px;
	box-shadow:azure 0px 5px 11px;
	background:rgb(20,200,200);
	border-radius:10px;
	margin-left:2px;
}

/* ---------------------------------------------    */
h2{
	display: none;
}
.botones{
	display: none;
}
.barra_princ{
	display: block;
}
.form_change{	
	background-color:rgba(202,202,202,1);
	box-shadow:black 7px 7px 10px;
	padding:2px;
	border-radius:10px 10px 0px 0px;
	width:fit-content;
	height:fit-content;
	font-family:arial;
	font-size:12px;	
	display:inline-block;
}	


#thcservno{
	width: 290px;
}
#tdcdesc{
	width:290px;
	color:blue;
}
#nqty, #nprice, #thnqty, #thnprice{
	width:60px;
}
#mnotash{
	height: 103px;
	width: 518px;
	display:inline-block;
	/*border-radius:10px;
	margin-top:5px;*/
}
#dmnotash{
	display:inline-block;
	margin-top:5px;
}
#dmnotash label {
	color:red;
}


#ntotal{
	color:red;
}









@media screen and (max-width: 515px) {
	*{	font-size:11;}	
	.barra_princ{
		display: none;
	}
	.botones{
		width:40px;
		box-shadow:azure 0px 5px 11px;
		background:rgb(20,200,200);
		border-radius:10px;
		margin:0px;
		display:inline-block;
	}
	label{width:70px;}
	.form_change {
		padding:5px;
		height:500px;
		width:290px;
        margin-top:2%;
		background:rgb(192,192,192);
		border:solid 1px black;
		border-radius:15px 15px 15px 15px;
		box-shadow:#171616 10px 10px 14px;
	}
	h2{
		font-size:16px; 
		color:red;
		text-shadow:black 10px 10px 5px;
		display:inline;
		padding:10px;
		margin:auto;
		display: inline-block;
	}
	
	#labeltitle{
		width: 205px;
		max-width:300px;
		background:gray;
	}
	#footer{
		background:rgb(240,240,240);
		border-radius:10px;
		margin-top:2px;
		text-align:right;
		border: solid #b2b2b2;
		border-right-color: white;
		border-left-color: white;
	}
	#thcservno{
		width: 130px;
	}
	#mx_cbuscar{width: 150px}
	
	#nqty, #nprice, #thnqty, #thnprice{
    	width:60px;
    }
    #tdcdesc{
    	width:130px;
		color:blue;
    }
	#form_menu label{
		min-width:0px;
		width:70px;
	}
	#aencabezado{
		margin-left:0px;
	}

	#adetalles{
		margin-left:0px;
		padding:0px;
		width: 290px;
	}
	#ntotamt{
		color:blue;
		text-align:right;
		width:90px;
		margin:0 10px;
		border-radius:5px;
	}
	#mnotas{
		height: 410px;
		width: 290px;
		border-radius:10px;
		margin-top:5px;
	}
	#dmnotas{
		/*centrado de izquierda a derecha.*/
		margin:auto;
		/* centrado vertical aproximado.*/
		background:rgb(192,192,192);
		border:solid 1px black;
		border-radius:15px 15px 15px 15px;
		box-shadow:#171616 10px 10px 14px;
		min-height:320px;
		padding:5px;
		height:500px;
		width:290px;
		margin-top:2%;
	}
	#dmnotash{
		display:none;
	}
	#separa{
		display: none;
	}
}

